@import url('normalize.css');

.grid {
	width: 100%;
	height: 100%;
}

.display {
	display: inline-block;
	float: left;
	width: 60%;
	height: 100%;
	text-align: right;
	overflow: auto;;

}

.images {
	color: white;
	display: inline-block;
	float: left;
	background-color: black;
	width: 40%;
	height: 100%;
	text-align: left;
	overflow: auto;
}

h1{
	margin-top: 10%;
	text-align: right;
	font-size: 5em;
	margin-right: .1em;
}

h1.medium-usage {
	color: #ff8c00;
}

h1.high-usage {
  color: #b22222;
}

h1.low-usage {
 color: #228b22;
}

.temp-control {
	text-align: right;
	margin-bottom: 1%;
	margin-right: 1em;
}

.increase-temp, .decrease-temp, .reset {
	width: 2%;
	font-size: 1em;
}




